html * {
    margin:0px;
    color:white;
    font-family: raleway, sans-serif;
}
html {
        
}
nav {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0px;
    align-items: center;
    height: 78px;
    width: 500px;
    font-size: 15px;
    line-height: 1.4em;
    
    
    
}

a {
    text-decoration: none;
    color:white;
    padding: 15px;
    border-radius: 10px;
    
}

a:hover {
    background-color: rgba(128, 128, 128, 0.603);
   
}

body {
    background: url('../images/temescal-box-heather.png');
    background-size: cover;
    background-position: center;
    background-position-y: -10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home {
    
    
    height: 750px;
    /* background: url('../images/temescal-box-heather.png');
    background-size: cover;
    background-position: center;
    background-position-y: -10px;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    
}

#home div{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-270px, 80px);
}

#home h1{
    
    display: flex;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 100px;
    line-height: -3.4px;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color: #FFFFFF;
    width: 400px;
}

#quote {
    height: 233px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#quote img {
    height:233px;
}

#about {
    height: 731px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about p {
    width: 375px;
}

#about img{
    height: 700px;
}

#specialties {
    height: 595px;
    background:url('../images/Site\ Files/weights.jpg');
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    justify-content: space-evenly;
    align-items: center;
 
    
}

#specialties img {
    height:100px;
}
#row {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#services {
    height: 680px;
    background: url('../images/Site\ Files/barbell.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#success {}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: -200px;
    bottom: -20px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }