html * {
    margin:0px;
}
nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0px;
    align-items: center;
    height: 78px;
    width: 500px;
    font-size: 15px;
    line-height: 1.4em;
    font-family: raleway, sans-serif;
}

a {
    text-decoration: none;
    color:white;
    
}

#home {
    height: 750px;
    background: url('../images/temescal-box-heather.png');
    background-size: cover;
    background-position: center;
    background-position-y: -10px;
    background-repeat: no-repeat;
    
}

#home h1{
    
    display: flex;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 100px;
    line-height: -3.4px;
    font-family: lulo-clean-w01-one-bold, sans-serif;
    color: #FFFFFF;
    width: 400px;
}

#about {}

#specialties {}

#services {}

#success {}